.north-company-name{
  margin-left:14px;
  font-size:20px;
  font-weight:500;
}

.north-user-info{
  margin-left:14px;
  font-size:16px;
  font-weight:500;
}

.north-user-logout{
  font-size:16px;
  cursor: pointer;

}